@import './base.css';

/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}


.title {
  color: rgb(73, 73, 73);
  padding: 20px;
  text-align: center;
}


/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* Style the navigation */
nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #ddd;
}

/* Style the section */
section {
  padding: 20px;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
a {
  color: rgb(235, 148, 114)
}

.loading {
  color: rgb(204, 188, 188);
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.error {
  color: rgb(192, 58, 58);
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
